<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group text-center">
			<div class="list-group-item list-group-item-home">
				<h1>{{mashing.name}}</h1>
			</div>

			<div class="list-group-item list-group-item-home media">
				<div class="media-body">
					<h2 class="media-heading">{{mashing.temperature | number:1}}°C</h2>
				</div>
				<div class="media-body" ng-repeat="rest in rests | orderBy:rest.priority"  ng-if="mashing.activeRest">
					<div ng-if="mashing.activeRest == rest.uuid">
						<i ng-if="rest.status == 'INACTIVE'" class="fa fa-clock-o"></i>
						<i ng-if="rest.status == 'HEATING'" class="fa fa-fire  {{rest.status}}"></i>
						<i ng-if="rest.status == 'ACTIVE'" class="fa fa-spinner fa-pulse  {{rest.status}}"></i>
						<i ng-if="rest.status == 'WAITING_COMPLETE'" class="fa fa-warning  {{rest.status}}"></i>
						<i ng-if="rest.status == 'COMPLETED'" class="fa fa-check-circle"></i>
						{{rest.name}} ({{rest.temperature}}°C / {{rest.duration}} min)
						<br/>
						<span ng-if="rest.heating > 0"><i class="fa fa-fire"></i> {{rest.heating | date:'H:mm:ss'}}</span>
						<span ng-if="rest.active > 0"> - <i class="fa fa-spinner"></i> {{rest.active | date:'H:mm:ss'}}</span> 
						<span ng-if="rest.completed > 0"> - <i class="fa fa-check-circle"></i> {{rest.completed | date:'H:mm:ss'}}</span>
						<br/>
						<button ng-if="rest.status == 'WAITING_COMPLETE'" ng-click="mashingContinue()" class="submit fa fa-play-circle-o text-primary"></button>
					</div>
				</div>
			</div>
			<div class="list-group-item list-group-item-home media" ng-if="!mashing.activeRest">
				<button ng-click="mashingStart()"  class="submit fa fa-play-circle-o text-primary"></button>
			</div>
			<div class="list-group-item list-group-item-home media">
				<div class="media-body">
					<img ng-src="{{mashingGraph}}">
				</div>
			</div>

			<div class="list-group-item list-group-item-home media" ng-repeat="rest in rests | orderBy:rest.priority">
				<div class="media-body {{rest.status}}">
					<i ng-if="rest.status == 'INACTIVE'" class="fa fa-clock-o"></i>
					<i ng-if="rest.status == 'HEATING'" class="fa fa-fire  {{rest.status}}"></i>
					<i ng-if="rest.status == 'ACTIVE'" class="fa fa-spinner fa-pulse  {{rest.status}}"></i>
					<i ng-if="rest.status == 'WAITING_COMPLETE'" class="fa fa-warning  {{rest.status}}"></i>
					<i ng-if="rest.status == 'COMPLETED'" class="fa fa-check-circle"></i>
					{{rest.name}} ({{rest.temperature}}°C / {{rest.duration}} min)
					<i class="fa  {{rest.continueAutomatically?'fa-play':'fa-pause'}}"></i>
					<br/>
					<span ng-if="rest.heating > 0"><i class="fa fa-fire"></i> {{rest.heating | date:'H:mm:ss'}}</span>
					<span ng-if="rest.active > 0"> - <i class="fa fa-spinner"></i> {{rest.active | date:'H:mm:ss'}}</span> 
					<span ng-if="rest.completed > 0"> - <i class="fa fa-check-circle"></i> {{rest.completed | date:'H:mm:ss'}}</span>
				</div>
			</div>
		</div>
	</div>
</div>