/* app css stylesheet */
.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu>li {
	display: inline;
}

.menu>li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu>li:nth-child(1):before {
	content: "";
	padding: 0;
}

.config {
	width: 100px;
	text-align: right;
	font-size: 18px;
}

input.hidden {
	visibility: hidden;
}

input.config {
	width: 230px;
	border: 1px solid silver;
	text-align: center;
	background-color: #FAFAFA;
	padding: 5px;
	margin: 5px;
}
input.config:disabled {
	color: silver;
}

button.submit {
	margin: 5px;
	font-size: 45px;
	background-color: transparent;
	border: 0px;
}

.restConfig {
	font-size: 18px;
	padding: 5px;
	margin: 5px 5px 5px 15px;
}

input.restConfig {
	width: 170px;
	text-align: left;
	border: 1px solid silver;
	text-align: center;
	background-color: #EEEEEE;
}

label.restConfig {
	display: inline-block;
}

label.restConfig img {
	pointer-events: none;
}

input.restConfig.mini {
	width: 50px;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

.COMPLETED {
	color: silver;
}